# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

# Session info
octave-workspace

# Simulink autosave extension
.autosave

# mat
*.mat


# LaTeX
report/*.aux
report/*.log
report/*.pdf
report/*.synctex.gz
report/*.toc
report/_minted-CHANDON_ETIENNE_AUDET_SP424_MARS/